# Editor
.vscode/
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

pip-wheel-metadata/

# Distribution / packaging
.pytest_cache/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pyc
*.pyo
pip-wheel-metadata

# Esque specific
esque.cfg
!.env
