repos:
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort
    additional_dependencies:
      - "toml>=0.10"
- repo: https://github.com/python/black
  rev: 19.3b0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.2.1
  hooks:
  - id: flake8
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-yaml
    exclude: esque/validation/schemas.*yaml
  - id: check-yaml
    alias: check-yaml-multi
    name: "Check Yaml Schemas"
    files: esque/validation/schemas.*yaml
    args: ["-m"]
  - id: trailing-whitespace
    exclude: .*\.md$