[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kafkaesque = {path = ".",editable = true,extras = ["test", "dev"]}

[packages]

[pipenv]
allow_prereleases = true
