Source: __LIBRARY__
Section: admin
Priority: optional
Maintainer: __MAINTAINER__
Version: __VERSION__
Homepage: __HOMEPAGE__
Package: __LIBRARY__
Architecture: amd64
Description: __DESCRIPTION__
Depends: python3, python3-pip, python3-setuptools
